.nav-button {
	height:  18px; 
	width:  48px; 
	position:  absolute; 
	top:  32px; 
	left:  18px;
	transform: skewX(-15deg);
	z-index:  100;
}
[class*="nav-line"] {
	background:  #ffffff;
	width:  100%; 
	height:  2px; 
	position:  absolute;
} 
.nav-line-1 { top:  0; }
.nav-line-2 { top:  8px; }
.nav-line-3 { bottom:  0; }